body {
    background-color: aqua;
}

#but1 {
    background-color: #ff00ff;
}

#but2 {
    background-color: #00ff00;
}

#but3 {
    background-color: #ffff00;
}

#but4 {
    background-color: #0000ff;
}

#but5 {
    background-color: #ff0000;
}