.animated-text {
    font-size: 32px;
    font-weight: bold;
    animation: colorChange 3s infinite alternate;
    }

    @keyframes colorChange {
    0% {
        color: red;
    }
    50% {
        color: orange;
    }
    100% {
        color: blue;
    }
    }